
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Gill Sans", sans-serif;
    color: var(--clr-dark);
    background-color: lightcoral;
}

button {
    background-color: #0c80f3;
    border: 6px solid #0ff166;
    border-radius: 10px;
    width: 150px;
}